/* GLOBAL RESETS */
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */
body{
    --color-body-backround: #F4F3F3;
    --color-body-text: #2B2B2B;
    --color-body-text-hover: rgb(0 0 0 / .5);
    --selection-color: #fd0330;

    --font-header: 'montserrat', 'Helvetica', sans-serif;
    --font-body: 'roc-grotesk', 'Avenir Next', 'Arial', sans-serif;

    --base-font-size: 25px;
    --spacing-unit: 1rem;
    --left-margin: 33%;

    --breakpoint-small: 768px;
    --breakpoint-medium: 1050px;
    --breakpoint-large: 1250px;
}

/* BREAKPOINTS */





/* LAYOUT */
html,
    body{
        height: 100%;
        margin: 0;
}

section{
    display: block;
}


/* GLOBAL STYLING */
body{
    background-color: var(--color-body-backround);
    font-family: var(--font-body);
    color: var(--color-body-text);
    font-size: var(--base-font-size);
}

a {
    color: var(--color-body-text);
}
a:hover {
    color: var(--color-body-text-hover);
}



/* STRUCTURE */
/* .site-wrapper{
    background-color: pink;
    min-height: 100%;
    display: grid;
    grid-template-areas: 
        'header'
        'main'
        'footer'
    ;
    grid-template-rows: auto 1fr auto;
} */

.container{
    padding: 0 2rem 0 2rem;
}


/* TYPE UTILITY CLASSES */


/* TYPOGRAPHY */
::selection{
    color: white;
    background-color: var(--selection-color);
}

h1, h2, h3 {
    font-family: var(--font-header);
    margin: .3em 0;
    font-weight: normal;
}

h1{
    font-size: 3.157rem;
}


/* NAVIGATION */
.site-header{
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
}

.site-header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

.site-header li{
    margin-left: 1em;
}






/* LANDING PAGE HERO */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-photo{
    position: absolute;
    min-width: 400px;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-photo img{
    position: absolute;
    max-width: 20rem;
    height: auto;
}

.hero-photo video{
    position: absolute;
    max-width: 20rem;
    height: auto;
    z-index: 2;
}

canvas{
    border: 2px dashed black;
    position: relative;
    z-index: 1;
    display: none;

    width: 27rem;
    height: 37rem;
}

@media (min-width: 768px) {
    .hero-photo img{
        max-width: 24rem;
        height: auto;
    }

    canvas{
        display: block;
        width: 32rem;
        height: 45rem;
    }
}

@media (min-width: 1250px) {
    .hero-photo img{
        max-width: 28rem;
        height: auto;
    }

    canvas{
        width: 40rem;
        /* height: 50rem; */
        height: 90vh;
    }
}


/* I want the canvas to always be 100px larger than the img */



/* ABOUT */
#about{
    margin-top: 5rem;
    display: flex;
}

.about-header{

}

.heading-label{
    position: absolute;
}

.about-headline{
    text-indent: 15rem;
    font-weight: bold;
    display: flex;
    flex: 0 0 75%;
    max-width: 75%;
    margin-bottom: 5rem;
}

.about-content{
    display: block;
    margin-left:var(--left-margin);
    flex: 0 0 33%;
    max-width: 33%;
    margin-bottom: 10rem;
}

.about-content p{
    margin-bottom: 1rem;
}

/* .about-photos{
    display: flex;
} */
        /* These are place holders */
        .sandys-1{
            width: 980px;
            height: 580.89px;
            background-color: #DFDFDF;
            margin-left: var(--left-margin);
        }

        .sandys-2{
            width: 450px;
            height: 450px;
            background-color: #DFDFDF;
        }

