/* GLOBAL RESETS */
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */
body{
    --color-body-backround: #F4F3F3;
    --color-body-text: #2B2B2B;
    --color-body-text-hover: rgb(0 0 0 / .5);
    --selection-color: #fd0330;

    --font-header: 'montserrat', 'Helvetica', sans-serif;
    --font-body: 'roc-grotesk', 'Avenir Next', 'Arial', sans-serif;

    --base-font-size: 20px;
    --spacing-unit: 1rem;
    --left-margin: 33%;
    --border-radius: 69px;
    --bottom-spacing: 5rem;

    --breakpoint-small: 768px;
    --breakpoint-medium: 1050px;
    --breakpoint-large: 1250px;
}

/* BREAKPOINTS */





/* LAYOUT */
html,
    body{
        height: 100%;
        margin: 0;
}

section{
    display: block;
}

.push-over{
    margin-left: var(--left-margin);
}


/* GLOBAL STYLING */
body{
    background-color: var(--color-body-backround);
    font-family: var(--font-body);
    color: var(--color-body-text);
    font-size: var(--base-font-size);
}

a {
    color: var(--color-body-text);
}
a:hover {
    color: var(--color-body-text-hover);
}



/* STRUCTURE */
.site-wrapper{
    /* background-color: pink; */
    min-height: 100%;
    padding: 0 2rem 0 2rem;
}

/* .container{
    Nothin' Here
} */

/* TYPE UTILITY CLASSES */


/* TYPOGRAPHY */
::selection{
    color: white;
    background-color: var(--selection-color);
}

h1, h2, h3 {
    font-family: var(--font-header);
    margin: .3em 0;
    font-weight: normal;
}

h1{
    font-size: 3.157rem;
}


/* NAVIGATION */
.site-header{
    /* position: absolute; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
}

.site-header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

.site-header li{
    margin-left: 1em;
}
















/* LANDING PAGE HERO */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-photo{
    position: absolute;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-photo img{
    position: absolute;
    max-width: 20rem;
    height: auto;
}

.hero-photo video{
    position: absolute;
    max-width: 20rem;
    height: auto;
    z-index: 2;
}

canvas{
    border: 2px dashed black;
    position: relative;
    z-index: 1;
    display: none;

    width: 27rem;
    height: 37rem;
}

@media (min-width: 768px) {
    .hero-photo img{
        max-width: 24rem;
        height: auto;
    }

    canvas{
        display: block;
        width: 32rem;
        height: 45rem;
    }
}

@media (min-width: 1250px) {
    .hero-photo img{
        max-width: 28rem;
        height: auto;
    }

    canvas{
        width: 40rem;
        /* height: 50rem; */
        height: 90vh;
    }
}


/* I want the canvas to always be 100px larger than the img */



/* ABOUT */
#about{
    margin-top: 5rem;
    display: flex;
}

.about-header{
max-width: 75%;
}

.heading-label{
    font-size: var(--base-font-size);
    font-weight: normal;
}

.about-headline{

    font-weight: bold;

}

.about-content{
    display: block;
    flex: 0 0 25%;
    max-width: 20rem;
    margin-bottom: 10rem;
}

.about-content p{
    margin-bottom: 1rem;
}

/* .about-photos{
    display: flex;
} */
        /* These are place holders */
        .sandys-1{
            width: 66.666%;
            height: 580.89px;
            background-color: #DFDFDF;
        }

        .sandys-2{
            width: 31%;
            height: 450px;
            background-color: #DFDFDF;
        }






/* PROJECTS */

#projects{
    margin-top: 2rem;
}

.project-header{
 display: flex;
}

.project-header h1{
    font-weight: bold;
}
/* .accordion{

} */

.accordion-toggle{
    display: flex;
}




/* CONTACT */

.contact-box{
    border: 1px solid var(--color-body-text);
    border-radius: var(--border-radius);
    width: 100%;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.contact-content{
    display:inline-block;

}

/* BOTTOM NAV */
.bottom-nav{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.bottom-nav ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.bottom-nav li{
    margin-left: var(--spacing-unit);
}

.bottom-nav a{
    text-decoration: none;
}


















/* PROJECT PAGE */
.project-hero{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: var(--bottom-spacing);
}

.project-title{
    font-weight:lighter;
}

.project-header-image{
    height: 90vh;
    width: auto;
}

.project-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}


.project-below-fold{
    display: flex;
    margin-bottom: var(--bottom-spacing);
}

.project-info{
    display: flex;

}

.info-subhead{
    font-family: 'roc-grotesk-wide';
    font-weight: bold;
}




.image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    margin-bottom: var(--bottom-spacing);
}

.image-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.square{
    /* background-color: palegoldenrod; */
    height: auto;
}

/* .square img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.full-image{
    grid-column: 1 / span 2;
}











/* ANIMATIONS */
.hover-underline-animation{
    display: inline-block;
    position: relative;
    color: var(--color-body-text);
}

.hover-underline-animation:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-body-text);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }